@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #2349a9; 
}

menu {
    display: none;
}

span#burguer {
    padding: 10px;
    color: white;
    font-size: 30px
}

ul {
    list-style-type: none;
}

li:hover {
    background-color: #496cbe;
    transition: .5s;
}

ul li.item a {
    display: flex;
    justify-content: flex-start;
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding: 15px 2%;
    line-height: 25px;
}

span.texto {
    margin-left: 30px;
}