@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    background-color: #2349a9;
}

menu {
    display: none;
}

span#burguer {
    cursor: pointer;
    padding: 10px 2%;
    color: white;
    font-size: 30px
}

ul {
    list-style-type: none;
}

li:hover {
    background-color: #496cbe;
    transition: .5s;
}

ul li.item a {
    display: flex;
    justify-content: flex-start;
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding: 15px 3%;
    line-height: 25px;
}

span.texto {
    margin-left: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 70px;
    background-color: #8ba4df;
    width: 100vw;
    height: 100vh;
}

section {
    width: 350px;
    background-color: white;
    color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
}

section p {
    text-align: justify;
    color: #2349a9;
    padding: 20px;
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    background-color: white;
    margin: auto;
    width: 200px;
    height: 200px;
}